McGouran Assn. 5 
Pt. 1 - Goal is to determine how many guests will be eating turkey from guest_list.txt

#pathway to guest_list.txt
#open the file

In [82]:
with open('/Users/tiffanymcgouran/Desktop/Carissa/Turkey_Day/guest_list.txt') as file_object:
    contents= file_object.read()
    print(contents)

Person	Vegetarian
Fred	No
Jamie	No
Shelly	Yes
Eileen	No
Willard	Yes
Mike	Sometimes
Anna	No
Marie	Yes
Marian	Sometimes
Jessica	No
Alan	No
Rebecca	No
Bonnie	No
Mark	No
Leslie	Yes
Rachel	No
Olivia	No
Chelsea	No

#count the occurance of the words "No" and "Sometimes" in the guest_list.txt

In [83]:
gl = open("/Users/tiffanymcgouran/Desktop/Carissa/Turkey_Day/guest_list.txt", "r")
data = gl.read()
no = data.count("No")

print('Number of occurrences of the word :', no)

file = open("/Users/tiffanymcgouran/Desktop/Carissa/Turkey_Day/guest_list.txt", "r")
data = file.read()
st = data.count("Sometimes")

print('Number of occurrences of the word :', st)

Number of occurrences of the word : 12
Number of occurrences of the word : 2

#add variables of 'no' and 'sometimes' to get the total number of turkey eaters

In [84]:
te = st + no
print('The total number of turkey eaters is:', te)

The total number of turkey eaters is: 14

Pt.2 - Goal is to compare the value of turkey eaters for the min LB for turkey size.

#open turkey_size.txt

In [85]:
turkey_size = open("/Users/tiffanymcgouran/Desktop/Carissa/Turkey_Day/turkey_size.txt", "r")
ts = turkey_size.read()
print(ts)

Max_Guests	Min_Pounds
4	5
6	8
8	10
10	13
12	15
15	20
20	25

#import pandas in order to access pd funtions and turn ts into a dataframe.

In [86]:
import pandas as pd  
turkey_size = {'MG':['4', '6', '8', '10', '12', '15', '20'], 
        'min_LB':['5','8','10','13','15','20','25']} 
  
df = pd.DataFrame(turkey_size) 
df

   MG min_LB
0   4      5
1   6      8
2   8     10
3  10     13
4  12     15
5  15     20
6  20     25

#compare the variable te "turkey_eaters" to the MG/min_LB needed.

In [87]:
cols = ['MG', 'min_LB']
    #make the column names in the df a variable col. 
df[cols] = df[cols].apply(pd.to_numeric)
    #use pd to change cols to numeric so the logic is the same (override string/int issue with >= sign)
df[df['MG'].values>=te]
    #print the elements in the df where MG is greater or equal to te. You can then select the lowest value.

   MG  min_LB
5  15      20
6  20      25

Pt. 3 - Goal is to add the three new guests to the guest_list.txt file and rerun the code to find our new number of total turkey eaters & the minimum pounds of turkey needed to feed the maximum amount of guests.

In [88]:
#open guest_list.txt again and append in the new data. 
with open('/Users/tiffanymcgouran/Desktop/Carissa/Turkey_Day/guest_list.txt', 'a+') as file_object:
    contents= file_object.write("Larry No\nMoe Yes\nCurly Sometimes")
#calculate the new number of 'no' responses. 
gl = open("/Users/tiffanymcgouran/Desktop/Carissa/Turkey_Day/guest_list.txt", "r")
data = gl.read()
no = data.count("No")
#calculate the number of 'sometimes' responses. 
file = open("/Users/tiffanymcgouran/Desktop/Carissa/Turkey_Day/guest_list.txt", "r")
data = file.read()
st = data.count("Sometimes")
#Calculate the total number of turkey_eaters "te" by adding together 'no' responses and the 'sometimes' responses
te = st + no
print('The total number of turkey eaters is:', te)




#find new min_LB for new te value.
cols = ['MG', 'min_LB']
    #make the column names in the df a variable col. 
df[cols] = df[cols].apply(pd.to_numeric)
    #use pd to change cols to numeric so the logic is the same (override string/int issue with >= sign)
df[df['MG'].values>=te]
    #print the elements in the df where MG is greater or equal to te. You can then select the lowest value.

The total number of turkey eaters is: 16

   MG  min_LB
6  20      25

In [89]:
print('You are done!')

You are done!